/* home */
.page_home {
    position: absolute;        
    margin: auto;
    width: 100%;
    top: 24%;
    left: 0;
    right: 0;
    z-index: 12;
}

.wing_home {}
.core_home {}

/* unique */
.cw, .cw_c {
    position: relative;
    padding: 0 7px;
    max-width: 1200px;
    margin-left: 0;
    margin-right: auto;
}

.cw_c {
    margin-left: auto;
}

/* logo && search */
.logo_wrap_home {
    position: relative;
    display: block;
    max-width: 300px;
    margin: auto;
    margin-bottom: .8em;
    margin-top: -1.25em;
}

.logo_home {
    opacity: 1;
    background-image: url(../assets/icon/eth_default.svg);
    background-size: 250px 200px;
    width: 250px;
    height: 200px;
}

.logo_home, .header_logo, .logo_dax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
    color: transparent;
    text-indent: -9999px;
    font-size: 0px;
}

/* search */
.search_wrap_home {
    padding: 1.3em .8em 1em;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    width: 70%;
}

.search_form_home {
    padding-right: 6.5em;
    font-size: 1.14em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    position: relative;
    height: 2.4em;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    padding-left: .75em;
    padding-right: 6.5em;
}

.search_input {
    font-size: 0.92em;
    font-weight: normal;
    color: #333;
    display: block;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    min-height: 2.4em;
    height: 102%;
    z-index: 1;
    position: relative;
    top: -1px;
}


.search_button {
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0;
    border-radius: 0 2px 2px 0;
    min-width: 26px;
    min-height: 1.25em;
    color: #999;
    font-size: 1.25em;
    padding: 0 .64em;
    height: 1.3em;
    width: 1em;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -3px;
    line-height: 2.45em;
}

.search_button {    
    display: block;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    left: auto;
    margin: auto;
    z-index: 2;
    outline: none;
}

.search_button {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.search_button_eth_grey {
    background-image: url(../assets/icon/eth_grey.svg);
}

.search_button_eth_green {
    background-image: url(../assets/icon/eth_green.svg);
}

.search_buttom {
    color: #999;
    font-weight: normal;
    display: block;
    text-align: center;
    margin: auto;
}
