/* home */
.page_home {
    position: absolute;        
    margin: auto;
    width: 100%;
    top: 24%;
    left: 0;
    right: 0;
    z-index: 12;
}

.wing_home {}
.core_home {}

/* unique */
.cw, .cw_c {
    position: relative;
    padding: 0 7px;
    max-width: 1200px;
    margin-left: 0;
    margin-right: auto;
}

.cw_c {
    margin-left: auto;
}

/* logo && search */
.logo_wrap_home {
    position: relative;
    display: block;
    max-width: 300px;
    margin: auto;
    margin-bottom: .8em;
    margin-top: -1.25em;
}

.logo_home {
    opacity: 1;
    background-image: url(../assets/icon/eth_default.svg);
    background-size: 250px 200px;
    width: 250px;
    height: 200px;
}

.logo_home, .header_logo, .logo_dax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
    color: transparent;
    text-indent: -9999px;
    font-size: 0px;
}

