/* txs.css */
.page_txs {
    position: absolute;
    margin: auto;
    margin-bottom: 5rem;
    width: 100%;
    top: 15%;
    left: 0;
    right: 0;
    z-index: 12;
}

.head_txs{
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);    
}
