// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
    font-size: 5rem;
}
.post{
    width: 100%;
    padding: 3rem;
    margin: 3rem;
    border: 5px solid black;
    font-size: 2rem;
    word-wrap: break-word;
}
